# Activity 7

## Create a database using list and tuples

In [78]:
import csv
import os
import pandas as pd
import openpyxl

In [79]:
main_list = []

Insert the values in the Database

In [80]:
count = int(input('Enter the number of Employee to be added: '))
print('')
for i in range(count):
    sublist = ()
    name = input('Enter the NAME of the employee: ')
    emp_id = input('Enter the ID of the employee: ')
    department = input('Enter the DEPARTMENT of the employee: ')
    salary = int(input('Enter the SALARY of the employee: '))
    print('')
    sublist+=(name,emp_id,department,salary)
    main_list.append(sublist)

Enter the number of Employee to be added:  10

Enter the NAME of the employee:  mayank
Enter the ID of the employee:  001
Enter the DEPARTMENT of the employee:  sde
Enter the SALARY of the employee:  20000

Enter the NAME of the employee:  gulshan
Enter the ID of the employee:  002
Enter the DEPARTMENT of the employee:  frontend
Enter the SALARY of the employee:  40000

Enter the NAME of the employee:  ankush
Enter the ID of the employee:  003
Enter the DEPARTMENT of the employee:  backend
Enter the SALARY of the employee:  8000

Enter the NAME of the employee:  rikit
Enter the ID of the employee:  675
Enter the DEPARTMENT of the employee:  frontend
Enter the SALARY of the employee:  2000

Enter the NAME of the employee:  sahil
Enter the ID of the employee:  908
Enter the DEPARTMENT of the employee:  backend
Enter the SALARY of the employee:  7000

Enter the NAME of the employee:  manni
Enter the ID of the employee:  878
Enter the DEPARTMENT of the employee:  sde
Enter the SALARY of the employee:  7699

Enter the NAME of the employee:  vishard
Enter the ID of the employee:  765
Enter the DEPARTMENT of the employee:  sde
Enter the SALARY of the employee:  9000

Enter the NAME of the employee:  rishi
Enter the ID of the employee:  275
Enter the DEPARTMENT of the employee:  frontend
Enter the SALARY of the employee:  4000

Enter the NAME of the employee:  sudanshu
Enter the ID of the employee:  200
Enter the DEPARTMENT of the employee:  frontend
Enter the SALARY of the employee:  2000

Enter the NAME of the employee:  pritish
Enter the ID of the employee:  sde
Enter the DEPARTMENT of the employee:  1000
Enter the SALARY of the employee:  1000

In [81]:
print(main_list)

[('mayank', '001', 'sde', 20000), ('gulshan', '002', 'frontend', 40000), ('ankush', '003', 'backend', 8000), ('rikit', '675', 'frontend', 2000), ('sahil', '908', 'backend', 7000), ('manni', '878', 'sde', 7699), ('vishard', '765', 'sde', 9000), ('rishi', '275', 'frontend', 4000), ('sudanshu', '200', 'frontend', 2000), ('pritish', 'sde', '1000', 1000)]

Create a csv File

In [83]:
with open('data.csv',mode='w') as csvfile:
    fieldnames = ['Name','Emp_ID','Department','Salary']
    writer = csv.DictWriter(csvfile,fieldnames=fieldnames)
    writer.writeheader()
    for i in range(len(main_list)):
        writer.writerow({"Name":main_list[i][0], "Emp_ID":main_list[i][1], "Department":main_list[i][2], "Salary":main_list[i][3]})

In [ ]:
Create a Excel_sheet

In [85]:
readfile = pd.read_csv('data.csv')
readfile.to_excel('data.xlsx',index = None, header=True)